$grey: rgb(236, 236, 236);
$darkgrey: rgb(65, 65, 65);
$blue: #4285F4;

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
}

#adv-head {
    justify-content: space-between;
    align-items: center;
}

#adv-head img {
    height: 30px;
}

%text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    text-decoration: none;
}

footer, a {
    @extend %text;
    color: $darkgrey;
    font-size: 0.9rem;
}

h2 {
    @extend %text;
    font-size: 1.2rem;
    color: #de5246;
    font-weight: 500;
}

h3 {
    @extend %text;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 3rem;
}


p {
    @extend %text;
    margin: 0;
    font-size: 0.8rem;
}


/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 60px;
}

main img {
    height: 100px;
    width: auto;
}

.im-search {
    height: 100px;
}

.images {
    @extend %text;
    position: relative;
    top: -24px;
    text-align: end;
    padding-right: 10px;
    margin: 0;
    color: $blue;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#search-bar {
    width: clamp(300px, 80vw, 600px);
    height: 1rem;
    padding: 0.8rem;
    border-radius: 60px;
    border: 1px solid $grey;
}

%buttons {
    text-align: center;
    padding: 0.8rem 1rem;
    border: none;
    width: 140px;
}

#search-button {
    @extend %buttons;
    background-color: $grey;
    color: $darkgrey;
    align-self: center;
    border-radius: 10px;
}

#adv-submit {
    @extend %buttons;
    background-color: $blue;
    color: white;
    justify-self: end;
}

#adv-search-field {
    height: 90vh;
    padding: 0 120px 50px 50px;
}

#adv-search {
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: repeat(4, 1fr);
}

%adv {
    height: 1.4rem;
    display: flex;
    align-items: center;
}

.adv-label {
    @extend %adv;
}

.adv-q {
    @extend %adv;
    border: 0.8px solid $darkgrey;
}








/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    color: $darkgrey;
    height: 2rem;
}